:root {
    --dark-red: rgb(150, 19, 0);
    --white: #ffffff;
    --black: #000000;
    --nsbe-red: rgb(255, 0, 0);
    --nsbe-green: rgb(0, 255, 0);
    --nsbe-black: rgb(0, 0, 0);
    --nsbe-yellow: rgb(255, 255, 0);
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

a.btn, button.btn {
    background-color: var(--dark-red);
    color: var(--white);
    text-decoration: none;
}

nav.navbar-color {
    background-color: var(--dark-red);
}

nav.navbar-color>a.navbar-brand,
ul.navbar-nav>li.nav-item>a.nav-link,
ul.footer>.nav-item>a {
    color: var(--white);
}

.bg-black {
    background-color: var(--black);
}

ul.footer>.nav-item>a:hover {
    font-weight: bold;
}

h3 > a:hover,
div.body>p>a:hover,
div.body>ul>li>a:hover,
div.body > div > a:hover {
    /* font-weight: bold; */
    background-color: var(--dark-red);
    color: var(--white);
}

div.body>p>a,
div.body>ul>li>a,
div.body > div > a,
div.body > h2 > a,
div.body > h3 > a,
div.body > h4 > a,
.text-black {
    color: var(--black);
}

a.btn.btn-footer {
    background-color: var(--dark-red);
    color: var(--white);
    border-width: 1px;
    border-color: var(--black);
}

h1 {
    font-weight: bold;
    border-bottom: solid var(--dark-red) 5px;
    padding-top: 10px;
}

h2 {
    border-bottom: solid var(--black) 1px;
}

p{
    padding-left: 10px;
    padding-right: 10px;
}

h1, h2, h3 {
    padding-left: 10px;
}

hr {
    background-color: var(--dark-red);
}

img.headimage {
    max-width: 75%;
    height: auto;
}

div.container.marketing > div.row > div > p {
    text-align: justify;
}

h5.card-title {
    border-bottom: 3px;
    border-bottom-style: solid;
}

div.card {
    border-width: 0px;
}

.subfooter,
a.card-link {
    background-color: var(--black);
    color: var(--white);
}

a {
    text-decoration: underline;
}

div.card.subfooter {
    border-radius: 0px;
}

main{
    color: var(--black);
    min-height: 75vh;
    background-color: var(--white);
}

footer.footer {
    color: var(--white);
    margin-top: 0px;
}

nav.navbar > a.navbar-brand,
div#navbarsExampleDefault > ul > li > a {
    text-decoration: none;
}

body {
    padding-top: 3.5rem;
    background-color: var(--black);
    font-family: Arial, Helvetica, sans-serif;
}

.required:after, label.required:after {
    content: ' *';
    color: var(--nsbe-red);
}

.btn-dark {
    background-color: var(--black);
}

img.officer-photo {
    max-width: 250px;
    height: auto;
}

.carousel-item > img{
    max-width: auto;
    min-width: auto;
    position: relative;
    height: 100%;
    margin: auto;
}

.text-small {
    font-size: small;
}

img.pageimage {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    text-align: center;
    margin-bottom: 15px;
}