:root{
    --dark-red: rgb(150, 19, 0);
    --white: #ffffff;
    --black: #000000;
    --nsbe-red: rgb(255,0,0);
    --nsbe-green: rgb(0,255,0);
    --nsbe-black: rgb(0,0,0);
    --nsbe-yellow: rgb(255,255,0);
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

nav.navbar-color {
    background-color: var(--nsbe-red);
}

nav.navbar-color > a.navbar-brand,
ul.navbar-nav > li.nav-item > a.nav-link{
    color: var(--white);
}

.text-white {
    color: var(--white);
}

.bg-black {
    background-color: var(--black);
}
.text-black {
    color: var(--black);
}

ul.footer > .nav-item.list-inline-item > a:hover,
div.body > p > a:hover,
div.body > ul > li > a:hover {
    color: var(--nsbe-red);
}

ul.footer > .nav-item.list-inline-item > a,
div.body > p > a,
div.body > ul > li > a {
    color: var(--black);
    text-decoration: underline;
}

h1 {
    font-weight: bold;
    border-bottom: solid var(--nsbe-red) 1px;
}

hr {
    background-color: var(--nsbe-red);
}

.nsbe-red-border{
    border-color: var(--nsbe-red);
}

.bg-darkred {
    background-color: var(--dark-red);
}