
    <div class="container py-4 mx-auto subfooter row">

      {% for block in config.theme.footerblocks %}
      <div class="card subfooter col-lg-3 col-sm-12">
        <div class="card-body">
          <h5 class="card-title p-2 subfooter font-weight-bold">{{ block.title }}</h5>
          <p class="card-text subfooter">{{ block.body }}</p>
          {% if block.linkurl and block.linktext %}
          <a href="{{ block.linkurl | url }}" class="btn btn-footer">{{ block.linktext }}</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}

      <div class="card subfooter col-lg-3 col-sm-12">
        <div class="card-body">
          <h5 class="card-title p-2 font-weight-bold">Links</h5>
          <ul class="list-unstyled footer">
            {% for link in config.theme.contactlinks %}
            <li class="nav-item">
              <a class="text-black" href="{{ link.url | url }}">
                {% if link.icon %}
                <i class="{{ link.icon }}"></i>
                {% endif %}
                {{ link.name | striptags }}
              </a>
            </li>
            {% endfor %}
          </ul>

          <ul class="list-unstyled footer">
            {% for link in config.theme.sociallinks %}
            <li class="nav-item">
              <a class="text-black" href="{{ link.url | url }}" target="_blank">
                {% if link.icon %}
                <i class="{{ link.icon }}"></i>
                {% endif %}
                {{ link.name | striptags }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="card subfooter col-lg-3 col-sm-12">
        <div class="card-body">
          <h5 class="card-title p-2 font-weight-bold">NSBE Links</h5>
          <ul class="list-unstyled footer">
            {% for link in config.theme.nsbelinks %}
            <li class="nav-item">
              <a href="{{ link.url | url }}" target="_blank">
                <i class="bi bi-link"></i>{{ link.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <hr class="bg-white" />

    <div class="container text-center">
      <p class="footer">Copyright &copy; 2001-{{ build_date_utc.strftime('%Y') }} {{ config.copyright }}</p>
      <p class="footer">
        Cookies are used on this website to track your visits, provide advertisements specific
        to you, and preferences by a third-party.
        By continuing to use this site, you agree to the use of cookies unless you have disabled them.
      </p>
    </div>