<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for item in config.theme.carousel %}
        <li data-target="#myCarousel" data-slide-to="{{ loop.index-1 }}" role="button" {% if loop.first %}
            class="active" {% endif %}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner bg-black">
        {% for item in config.theme.carousel %}
        <div class="carousel-item text-center {% if loop.first %} active {% endif %}">
            <img src="{{ item.imageurl | url }}" alt="{{ item.buttontext }}" />
            {% if item.buttontext and item.buttonlink %}
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        <a class="btn btn-lg" href="{{ item.buttonlink | url }}" role="button">{{ item.buttontext }}</a>
                    </p>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="marketing container">
    <div class="row">
        {% for block in config.theme.marketing %}
        <div class="col-sm-12 col-md-6">
            <h2>{{ block.title }}</h2>
            <p>
                {{ block.body }}
            </p>
            <p><a class="btn btn-dark" href="{{ block.link | url }}" role="link">View {{ block.title }}</a></p>
        </div>
        {% endfor %}
    </div>
</div>