<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="{{ config.site_name }}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="{{ config.theme.twitter_name }}" />
  <meta name="twitter:creator" content="{{ config.theme.twitter_name }}" />

  {% if page and page.meta.description %}
  <meta name="description" content="{{ page.meta.description | striptags }}">
  <meta property="og:description" content="{{ page.meta.description | striptags }}" />
  <meta name="twitter:description" content="{{ page.meta.description | striptags }}" />
  {% elif config.site_description %}
  <meta name="description" content="{{ config.site_description | striptags }}">
  <meta property="og:description" content="{{ config.site_description | striptags }}" />
  <meta name="twitter:description" content="{{ config.site_description | striptags }}" />
  {% endif %}

  {% if page and page.meta.author %}
  <meta name="author" content="{{ page.meta.author }}">
  {% else %}
  <meta name="author" content="{{ config.site_author }}">
  {% endif %}

  {% if page and page.meta.title %}
  <title>{{ page.meta.title | striptags }} | {{ config.site_name }}</title>
  <meta property="og:title" content="{{ page.meta.title }}" />
  <meta name="twitter:title" content="{{ page.meta.title }}" />
  {% elif page.title and not page.is_homepage %}
  <title>{{ page.title | striptags }} | {{ config.site_name }}</title>
  <meta property="og:title" content="{{ page.title | striptags }}" />
  <meta name="twitter:title" content="{{ page.title | striptags }}" />
  {% else %}
  <title>{{ config.site_name }}</title>
  <meta property="og:title" content="{{ config.site_name }}" />
  <meta name="twitter:title" content="{{ config.site_name }}" />
  {% endif %}

  {% if page and page.meta.imageurl %}
  <meta property="og:image" content="{{ page.meta.imageurl | url }}" />
  <meta name="twitter:image" content="{{ page.meta.imageurl | url }}" />
  {% endif %}

  {% if page and page.meta.keywords %}
  <meta name="keywords" content="{{ page.meta.keywords }}" />
  {% endif %}

  {% if page and page.meta.ogtype %}
  <meta property="og:type" content="{{ page.meta.ogtype }}" />
  {% else %}
  <meta property="og:type" content="website" />
  {% endif %}

  {% if page and page.meta.robots %}
  <meta name="robots" content="{{ page.meta.robots }}" />
  {% else %}
  <meta name="robots" content="index, follow" />
  {% endif %}

  {% if page and page.canonical_url %}
  <link rel="canonical" href="{{ page.canonical_url | url }}">
  <meta property="og:url" content="{{ page.canonical_url | url }}" />
  <meta property="twitter:url" content="{{ page.canonical_url | url }}" />
  {% endif %}

  {% if config.google_analytics %}
  <script type="text/javascript" src=/js/analytics.min.js></script>
  {% endif %}

  <script async id="mcjs" src="/js/mailchimp.min.js"></script>
  <script data-ad-client="ca-pub-5755792965145196" async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  <link rel="shortcut icon" href="/images/nsbemplogo.ico" type="image/png" />
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/carousel.min.css">
  <link rel="stylesheet" type="text/css" href="/css/nsbemp.min.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-color">
    <a class="navbar-brand font-weight-bold" href="/">{{ config.site_name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">
        {% for navitem in config.theme.mainnav %}
        <li class="nav-item">
          {% if navitem.target %}
          <a href="{{ navitem.link }}" class="nav-link" target="{{ navitem.target }}">{{ navitem.name }}</a>
          {% else %}
          <a href="{{ navitem.link }}" class="nav-link">{{ navitem.name }}</a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      <form class="form-inline mt-2 mt-md-0" action="https://www.google.com/search" method="GET">
        <input type="hidden" name="q" value="site:nsbe-mp.org" />
        <input type="text" name="q" alt="Search" placeholder="Search with Google" title="Search"
          class="form-control mr-3" />
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <main role="main">
    {% if page.is_homepage %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        {% for item in config.theme.carousel %}
        {% if loop.first %}
        <li data-target="#myCarousel" data-slide-to="{{ loop.index-1 }}" class="active"></li>
        {% else %}
        <li data-target="#myCarousel" data-slide-to="{{ loop.index-1 }}"></li>
        {% endif %}
        {% endfor %}
      </ol>
      <div class="carousel-inner bg-black">
        {% for item in config.theme.carousel %}
        <div 
          {% if loop.first %} 
          class="carousel-item text-center active">
          {% else %}
          class="carousel-item text-center">
          {% endif %}
          <img src="{{ item.imageurl | url }}" alt="{{ item.buttontext }}" />
          {% if item.buttontext and item.buttonlink %}
          <div class="container">
            <div class="carousel-caption">
              <p><a class="btn btn-lg" href="{{ item.buttonlink | url }}" role="button">{{ item.buttontext }}</a></p>
            </div>
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div> <!-- end carousel -->
    <div class="container marketing">
      <div class="row">
        {% for block in config.theme.marketing %}
        <div class="col-sm-12 col-md-6">
          <h2>{{ block.title }}</h2>
          <p>
            {{ block.body }}
          </p>
          <p><a class="btn btn-dark" href="{{ block.link | url }}" role="button">View details &raquo;</a></p>
        </div>
        {% endfor %}
      </div>
    </div> <!-- end marketing -->
    {% endif %}

    <div class="container body">
      {% if page and page.meta.title %}
      <h1>{{ page.meta.title }}</h1>
      {% endif %}

      {% if page and page.meta.imageurl and page.meta.imagealt %}
      <div class="col-12 pb-4 text-center">
        <img src="{{ page.meta.imageurl | url }}" alt="{{ page.meta.imagealt }}" class="headimage" />
      </div>
      {% endif %}

      {% if page and page.url == "about/" %}
      <h2>NSBE Montgomery Professionals Executive Board</h2>
      <div class="row mx-auto">
        {% for officer in config.theme.eboard %}
        <div class="col py-2 text-center">
          {% if officer.imageurl %}
          <img src="{{ officer.imageurl | url }}" alt="{{ officer.name | striptags }}" class="officer-photo" /><br />
          {% else %}
          <img src="/images/nsbemplogo.jpg" alt="No headshot available" class="officer-photo mt-5" /><br />
          {% endif %}
          <h3>{{ officer.name }}</h3>
          <h5>{{ officer.position }}</h5>
        </div>
        {% endfor %}
      </div>
      {% endif %}

      {%- block content %}
      {{ page.content }}
      {%- endblock %}

      <div class="text-small py-4"><a href="#top">Back to Top</a></div>
    </div>
  </main>

  <footer class="footer">
    <div class="container py-4 mx-auto subfooter row">

      {% for block in config.theme.footerblocks %}
      <div class="card subfooter col-lg-3 col-sm-12">
        <div class="card-body">
          <h5 class="card-title p-2 subfooter font-weight-bold">{{ block.title }}</h5>
          <p class="card-text subfooter">{{ block.body }}</p>
          {% if block.linkurl and block.linktext %}
          <a href="{{ block.linkurl | url }}" class="btn btn-footer">{{ block.linktext }}</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}

      <div class="card subfooter col-lg-3 col-sm-12">
        <div class="card-body">
          <h5 class="card-title p-2 font-weight-bold">Links</h5>
          <ul class="list-unstyled footer">
            {% for link in config.theme.contactlinks %}
            <li class="nav-item">
              <a class="text-black" href="{{ link.url | url }}">
                {% if link.icon %}
                <i class="{{ link.icon }}"></i>
                {% endif %}
                {{ link.name | striptags }}
              </a>
            </li>
            {% endfor %}
          </ul>

          <ul class="list-unstyled footer">
            {% for link in config.theme.sociallinks %}
            <li class="nav-item">
              <a class="text-black" href="{{ link.url | url }}" target="_blank">
                {% if link.icon %}
                <i class="{{ link.icon }}"></i>
                {% endif %}
                {{ link.name | striptags }}
              </a>
            </li>
            {% endfor %}
          </ul>

          <ul class="list-unstyled footer">
            {% for link in config.theme.nsbelinks %}
            <li class="nav-item">
              <a href="{{ link.url | url }}" target="_blank">{{ link.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div> <!-- container -->

    <hr class="bg-white" />

    <div class="container text-center">
      <p class="footer">Copyright &copy; {{ build_date_utc.strftime('%Y') }} {{ config.copyright }}</p>
      <p class="footer">
        Cookies are used on this website to track your visits, provide advertisements specific
        to you, and preferences by a third-party.
        By continuing to use this site, you agree to the use of cookies unless you have disabled them.
      </p>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="/js/vendor/jquery.slim.min.js"><\/script>')</script>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>
